.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 0px;
}

.wd-modules > li {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(14, 14, 14) !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.button-style{
    color: #333333; background-color: azure; border: #E5E2E2 solid 1px;
}
